* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
}

// TYPOGRAPHY

.header {
  text-align: center;
  margin-top: 30px;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}


// SECTIONS
.board {
  margin: 0 auto;
  text-align: center;
}
.square {
  height: 50px;
  width: 50px;
  background: lightgray;
  display: inline-block;
  margin: 2px;
  border: 1px solid gray;
  cursor: pointer;
  position: relative;

}




// ELEMENTS

input {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}

button {
  padding: 10px;
  background-color: gray;
  color: white;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
